.address {
  padding-top: 70px;
  padding-bottom: 45px;
  padding-left: 120px;
  padding-right: 40px;
  color: $description-font-color;
  border-top: 1px solid #74819c;

  h2 {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Bebas Neue Bold", "Arial", sans-serif;
    font-size: $subtitle-font-size;
    line-height: $subtitle-line-height;
    letter-spacing: $title-letter-spacing;
  }

  b {
    display: block;
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 24px;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      opacity: $hover-state-opacity;
      transition: $transition-time;
    }

    &:active {
      opacity: $active-state-opacity;
      transition: $transition-time;
    }
  }
}

.address__content-container {
  position: relative;
  width: 500px;
  padding-left: 4px;
  font-style: normal;

  columns: 2;
  column-gap: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 47%;
    width: 1px;
    height: 75%;
    background-color: #030a1a;
    transform: translateX(-47%);
  }
}


@media (max-width: $tablet-width-max) {
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;

    h2 {
      width: 100%;
      margin-bottom: 30px;
      margin-left: -355px;
      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    p {
      font-size: 18px;
      line-height: 27px;
    }

    b {
      margin-bottom: 5px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .address__content-container {
    width: 559px;
    padding-left: 27px;
    column-gap: 97px;

    &::before {
      top: 8px;
      left: 53%;
      width: 1px;
      height: 75%;
      background-color: #030a1a;
      transform: translateX(-53%);
    }
  }
}

@media (max-width: $mobile-width-max) {
  .address {
    width: 100%;
    padding-top: 73px;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    padding-bottom: 43px;

    h2 {
      margin-left: 0;
      margin-bottom: 34px;
      font-size: 32px;
      line-height: 32px;
      text-align: left;
    }

    b {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 20px;
      padding-top: 0;

      &:nth-of-type(even) {
        padding-left: 0;
      }

      &:nth-of-type(odd) {
        border: none;
      }
    }
  }

  .address__content-container {
    width: 100%;
    padding: 0;
    columns: 1;

    &::before {
      display: none;
    }
  }
}
