.event {
  display: flex;
  justify-content: space-between;
  width: 1157px;
  background-color: $second-background-color;


  picture {
    line-height: 0;
    font-size: 0;
  }
}

.event__description-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 500px;
  padding-top: 83px;
  padding-left: 78px;
  padding-right: 75px;
  padding-bottom: 85px;

  h2 {
    width: 240px;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 12px;
    padding-top: 7px;
    font-family: $second-font;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: $title-letter-spacing;
  }

  p {
    margin: 0;
  }

  & > p {
    font-size: 18px;
    margin-bottom: 47px;
  }

  a:last-of-type {
    @include link;
    width: 100%;
    min-height: 67px;
  }
}

.event__date,
.event__time {
  p:first-of-type {
    padding-bottom: 6px;
    border-bottom: 1px solid $second-color;
    font-size: 18px;
  }

  p:last-of-type {
    display: flex;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;

    span {
      padding-top: 4px;
      padding-left: 7px;
      font-size: 14px;
      line-height: 19px;
      font-weight: normal;
    }
  }
}

.event__date {
  width: 64px;
  margin-bottom: 14px;

  &:last-of-type {
    width: 88px;
    margin-bottom: 0;
  }
}

@media (max-width: $tablet-width-max) {
  .event {
    width: 88.4%;

    picture {
      flex-shrink: 0;
    }

    img {
      width: 386px;
      height: 292px;
    }
  }

  .event__description-container {
    flex-grow: 1;
    justify-content: center;
    padding-top: 43px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 51px;

    h2 {
      width: 117px;
      margin-right: 29px;
      margin-bottom: 0;
      font-size: 52px;
      font-weight: normal;
      line-height: 52px;
      letter-spacing: $title-letter-spacing;
    }

    & > p {
      width: 100%;
      margin-bottom: 30px;
      padding-right: 15px;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
    }

    a:last-of-type {
      width: 202px;
      min-height: 39px;
      font-size: 10px;
      line-height: 12px;
    }
  }

  .event__date,
  .event__time {
    p:first-of-type {
      padding-top: 4px;
      padding-bottom: 1px;
      font-size: 12px;
      line-height: 18px;
    }

    p:last-of-type {
      font-size: 24px;
      line-height: 30px;

      span {
        padding-top: 3px;
        padding-left: 4px;
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  .event__date {
    width: 42px;
    margin-bottom: 0;

    &:last-of-type {
      width: 56px;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .event {
    flex-wrap: wrap;
    justify-content: center;
    width: 90.4%;


    img {
      width: 290px;
      height: 292px;
    }
  }

  .event__description-container {
    width: 290px;
    margin-right: auto;
  }
}
