.gym-description {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 20px;
  padding-left: $desktop-fixed-padding;
  color: $description-font-color;
  background-repeat: no-repeat;

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: $second-font;
    font-size: $subtitle-font-size;
    line-height: $subtitle-line-height;
    text-transform: uppercase;
    letter-spacing: $title-letter-spacing;
  }

  p {
    margin-top: 0;
    margin-bottom: 7px;
    font-family: "Roboto Condensed Light", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h2 + p {
    font-family: $main-font;
    font-size: 18px;
    margin-bottom: 40px;
  }

  picture {
    font-size: 0;
    line-height: 0;
  }

  picture:first-of-type {
    margin-left: auto;
  }

  img[alt="Фото тренажерного зала"] {
    padding-bottom: 115px;
  }
}

.gym-description__description {
  width: 355px;
  padding-top: 50px;
}

.gym-description__video {
  position: absolute;
  top: 407px;
  left: 455px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 364px;
  height: 228px;
  background-color: rgba(20, 54, 122, 0);
  z-index: 0;
  cursor: pointer;

  &:hover {
    transition: $transition-time;

    .gym-description__play-btn {
      opacity: $hover-state-opacity;
    }

    &::before {
      background-color: transparent;
    }
  }

  &:active > .gym-description__play-btn {
    opacity: $active-state-opacity;
    transition: $transition-time;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5);
    z-index: 1;
  }
}

.gym-description__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: transparent;
  background-size: cover;
  transform: translate(-50%, -50%);
  z-index: 2;

  &:hover {
    opacity: 1;
  }
}

.no-webp .gym-description__play-btn {
  background-image: url("../img/play-btn.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/play-btn@2x.png");
  }
}

.webp .gym-description__play-btn {
  background-image: url("../img/play-btn.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/play-btn@2x.webp");
  }
}

@media (max-width: $tablet-width-max) {
  .gym-description {
    flex-direction: column;
    align-items: center;
    padding: 100px $tablet-padding;
    background-size: 88.1% auto;
    background-position: center top calc(200px + 23.8%);

    h2 {
      max-width: 100%;
      font-size: 42px;
      line-height: 42px;
    }

    p {
      width: 541px;
      margin: 0;
      max-width: 100%;
      text-align: center;

      &:last-of-type {
        font-size: 0;
      }
    }

    h2 + p {
      margin-bottom: 37px;
    }

    picture:first-of-type {
      margin-left: unset;
    }

    img[alt="Фото тренажерного зала"] {
      width: 678px;
      padding-bottom: 85px;
    }
  }

  .gym-description__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;
    padding-top: 0;
  }

  .gym-description__video {
    top: 587px;
    left: 50%;
    width: 266px;
    height: 167px;
    transform: translateX(-50%);
  }

  .gym-description__play-btn {
    width: 73px;
    height: 73px;
  }
}

@media (max-width: $mobile-width-max) {
  .gym-description {
    padding: 70px 0 70px 0;
    background-size: 100% auto;
    background-position: center top 335px;

    h2 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: $title-letter-spacing;
    }

    p {
      padding-right: 30px;
      text-align: left;
    }

    h2 + p {
      margin-bottom: 25px;
      padding: 0;
    }

    img[alt="Фото тренажерного зала"] {
      width: 320px;
      height: 313px;
      margin-bottom: 40px;
      padding-bottom: 0;
    }

    img[alt="Превью"] {
      width: 320px;
      height: 167px;
    }
  }

  .gym-description__description {
    align-items: flex-start;
    max-width: 541px;
    margin-bottom: 33px;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }

  .gym-description__video {
    position: relative;
    top: unset;
    left: unset;
    width: 320px;
    margin: 0;
    transform: unset;
  }
}
