.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0 20px;
  font-family: $second-font;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 26px;

  a {
    @include link;
  }
}

.header__tel {
  letter-spacing: 0.03em;

  &:hover {
    opacity: $hover-state-opacity;
    transition: $transition-time;
  }

  &:active {
    opacity: $active-state-opacity;
    transition: $transition-time;
  }
}

@media (max-width: $tablet-width-max) {
  .header {
    padding: 40px $tablet-padding 22px $tablet-padding;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .header__logo {
    img {
      width: 80px;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .header {
    padding: 20px $mobile-padding;
    font-size: 20px;
    line-height: 20px;
  }

  .header__logo {
    img {
      width: 65px;
    }
  }
}
