.stocks {
  padding: 125px 20px 55px 20px;

  h2 {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: $second-font;
    font-size: $subtitle-font-size;
    line-height: $subtitle-line-height;
    letter-spacing: $title-letter-spacing;
    text-align: center;
    color: $description-font-color;
  }

  picture {
    line-height: 0;
    font-size: 0;
  }
}

.stocks__main-stock {
  display: flex;
  width: 560px;
  min-height: 462px;

  picture {
    width: 50%;
  }

  img {
    height: 462px;
  }
}

.stocks__content-container {
  display: flex;
  justify-content: space-between;
}

.stocks__main-stock-container {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 42px;
  color: $second-color;
  background-color: $second-background-color;

  h3 {
    width: 150px;
    margin: 0;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 44px;

    span {
      font-size: 70px;
      line-height: 60px;
    }
  }

  p {
    width: 190px;
    margin: 0;
    font-size: 18px;
    line-height: 25px;
  }

  a:last-of-type {
    @include link;
    @include more-details-link;
    border-bottom-color: $second-color;
  }
}

.stocks__stock-list {
  @include list;
  display: flex;
  flex-direction: column;
  width: 560px;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.stocks__stock {
  display: flex;
  flex-direction: column;
  min-height: 211px;
  padding: 25px 27px;
  border: 7px solid #d10a42;
  border-image: linear-gradient(160deg, #d10a42, #00359f);
  border-image-slice: 1;
  color: $main-color;

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 26px;
  }

  p {
    margin: 0;
  }

  a:last-of-type {
    @include more-details-link;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: $tablet-width-max) {
  .stocks {
    padding-top: 100px;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;

    h2 {
      margin-bottom: 40px;
      font-size: 42px;
      line-height: 42px;
    }
  }

  .stocks__content-container {
    flex-direction: column;
  }

  .stocks__main-stock-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 40px;
  }

  .stocks__main-stock {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 0;

    picture {
      width: unset;
    }

    img {
      width: 399px;
      height: 462px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 15px;
      margin-left: -40px;
    }

    a {
      &:last-of-type {
        align-self: unset;
        margin-left: -110px;
      }
    }
  }

  .stocks__stock-list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    li {
      &:last-of-type {
        margin-bottom: 40px;
      }

      &:first-of-type {
        padding-right: 80px;
      }
    }
  }

  .stocks__stock {
    width: 48%;
  }
}

@media (max-width: $mobile-width-max) {
  .stocks {
    justify-content: center;
    padding-top: 73px;
    padding-left: 4.7%;
    padding-right: 4.7%;
    padding-bottom: 40px;

    h2 {
      font-size: 32px;
      line-height: 32px;
    }
  }

  .stocks__main-stock-container {
    flex-grow: 0;
    width: 290px;
    padding-bottom: 41px;
  }

  .stocks__main-stock {
    width: 100%;
    min-height: 299px;
    flex-wrap: wrap;
    padding: 0;

    h3 {
      margin-left: 0;
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      text-align: center;
    }

    p:last-of-type {
      margin-bottom: 30px;
    }

    a:last-of-type {
      margin-left: 0;
    }

    img {
      width: 290px;
      height: 299px;
    }
  }

  .stocks__stock-list {
    flex-wrap: wrap;
    justify-content: center;

    li {
      max-width: 580px;
      width: 100%;
      margin-bottom: 30px;

      &:first-of-type {
        padding-right: 27px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .stocks__stock {
    padding-top: 35px;
    padding-bottom: 38px;
    align-items: center;

    h3 {
      margin-bottom: 12px;
    }

    p {
      text-align: center;
    }

    a:last-of-type {
      align-self: center;
    }
  }
}
