.trainers {
  position: relative;
  padding-top: 60px;
  padding-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: $second-font;
    font-size: $subtitle-font-size;
    line-height: $subtitle-line-height;
    letter-spacing: $title-letter-spacing;
    color: $description-font-color;
  }

  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &--no-js {
    .trainers__btn-arrow {
      display: none;
    }
  }
}

.trainers__list-container {
  height: 294px;
}

.trainers__list {
  @include list;
  display: flex;

  .trainers--no-js & {
    position: unset;
    flex-wrap: wrap;
  }
}

.trainers__btn-arrow {
  width: 20px;
  height: 32px;
  top: calc(49px + 50px + (294px / 2) - 14px + 60px);
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;

  &--left {
    left: calc(50% - 1160px / 2 - 55px);
  }

  &--right {
    right: calc(50% - 1160px / 2 - 55px);
  }
}

.trainers__card {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: 260px;
  margin-right: 40px;
  padding-top: 247px;
  padding-right: 0;
  outline: none;
  cursor: pointer;

  picture {
    font-size: 0;
    line-height: 0;
  }

  img {
    height: 294px;
  }

  &:hover {
    & > h3 {
      z-index: 0;
    }

    .trainers__description {
      z-index: 0;
      visibility: visible;
    }
  }

  & > h3 {
    position: relative;
    margin: 0;
    text-align: center;
    z-index: 1;
  }

  .trainers--no-js & {
    margin-bottom: 20px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

.trainers__description {
  position: absolute;
  top: 0;
  left: 50%;
  width: 260px;
  height: 100%;
  padding-top: 55px;
  background-color: rgba(16, 38, 84, 0.89);
  transform: translateX(-50%);
  z-index: -1;
  visibility: hidden;

  h3 {
    margin: 0;
    text-align: center;
  }

  h3 + span {
    display: block;
    margin-bottom: 30px;
    color: #b6bdcc;
    text-align: center;
  }
}

.trainers__achievements {
  padding-left: 73px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 21px;

  li {
    margin-bottom: 13px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1300px) {
  .trainers__list-container {
    width: 92%;
  }

  .trainers__btn-arrow {
    &--left {
      left: 2%;
    }

    &--right {
      right: 2%;
    }
  }
}

@media (max-width: $tablet-width-max) {
  .trainers {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;

    h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 38px;
    }
  }

  .trainers__card {
    width: 268px;
    padding-top: 244px;

    img {
      width: 268px;
    }

    h3 {
      margin-bottom: -3px;
      margin-left: 7px;
      font-size: 18px;
      line-height: 27px;
    }

    h3 + span {
      margin-bottom: 32px;
      margin-left: -7px;
    }
  }

  .trainers__description {
    width: 268px;
    height: 294px;
    padding-top: 50px;

    h3 {
      margin-left: -7px;
    }
  }

  .trainers__list-container {
    width: 565px;
  }

  .trainers__achievements {
    padding-left: 70px;
    padding-right: 20px;

    li {
      text-align: left;
    }
  }

  .trainers__btn-arrow {
    top: calc(42px + 38px + (294px / 2) - 16px + 50px);

    &--left {
      left: calc(50% - 565px / 2 - 58px);
    }

    &--right {
      right: calc(50% - 565px / 2 - 58px);
    }
  }
}

@media (max-width: $mobile-width-max) {
  .trainers {
    padding-top: 35px;
    padding-bottom: 70px;

    h2 {
      margin-bottom: 43px;
      font-size: 32px;
      line-height: 32px;
    }

    img {
      width: 226px;
      height: 274px;
    }
  }

  .trainers__list-container {
    width: 226px;
    height: 274px;
  }

  .trainers__description {
    width: 226px;
    height: 274px;
    padding-top: 42px;

    h3 {
      margin-left: 0;
    }

    h3 + span {
      margin-left: 0;
      margin-bottom: 31px;
      color: #b6bdcc;
    }
  }

  .trainers__achievements {
    padding-left: 50px;
    font-size: 14px;
    line-height: 21px;

    li {
      margin-bottom: 13px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .trainers__card {
    padding-top: 230px;
    height: 274px;
  }

  .trainers__btn-arrow {
    top: 55%;
    width: 12px;
    height: 25px;
    transform: translateY(-50.5%);

    &--left {
      left: calc(50% - 226px / 2 - 33px);
    }

    &--right {
      right: calc(50% - 226px / 2 - 33px);
    }

    svg {
      width: 12px;
      height: 25px;
    }
  }
}
