.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;

  &--second-style {
    border: 4px solid $second-color;

    &:hover {
      opacity: $hover-state-opacity;
    }

    &:active {
      opacity: $active-state-opacity;
    }
  }

  &--main-style {
    outline: 2px solid #102654;
  }

  &:hover,
  &:active {
    transition: $transition-time;
  }
}

@media (max-width: $tablet-width-max) {
  .btn {
    &--second-style {
      border: 2px solid $second-color;
    }
  }
}
